aicsimageio==4.14.0
cellpose==4.0.8
imagej==0.3.2
langchain_community==0.4.1
langchain_core==1.2.7
langchain_huggingface==1.2.0
langchain_openai==1.1.7
langchain_text_splitters==1.1.0
langgraph==1.0.6
matplotlib==3.10.6
mmdet==3.3.0
networkx==3.4.2
numpy==1.26.0
openai==2.14.0
opencv_python==4.8.1.78
pandas==2.3.3
Pillow==12.1.0
Pygments==2.19.2
pyimagej==1.7.0
pymmcore_plus==0.16.0
scikit_learn==1.8.0
scipy==1.17.0
scyjava==1.12.1
sentence_transformers==2.7.0
scikit-image==0.26.0
tenacity==9.1.2
tifffile==2026.1.14
torch==2.1.0+cu118
