aicsimageio==4.14.0
cellpose==4.0.8
imagej==0.3.2
matplotlib==3.10.8
mmdet==3.3.0
numpy==2.4.0
openai==2.14.0
opencv_python==4.8.1.78
pandas==2.3.3
Pillow==12.1.0
Pygments==2.19.2
pyimagej==1.7.0
pymmcore_plus==0.16.0
scikit_learn==1.8.0
scipy==1.16.3
scyjava==1.12.1
sentence_transformers==2.7.0
skimage==0.0
tenacity==9.1.2
tifffile==2022.4.8
torch==2.1.0+cu118
