# Generated for EIMS Micro-Manager demo mode

# Reset
Property,Core,Initialize,0

# Devices
Device,DHub,DemoCamera,DHub
Device,DCam,DemoCamera,DCam
Device,DXYStage,DemoCamera,DXYStage
Device,DStage,DemoCamera,DStage
Device,DObjective,DemoCamera,DObjective
Device,DStateDevice,DemoCamera,DStateDevice
Device,DLightPath,DemoCamera,DLightPath
Device,DShutter,DemoCamera,DShutter

# Pre-init settings for devices
Property,DXYStage,UsesCallbacks,Yes

# Hub (parent) references
Parent,DCam,DHub
Parent,DXYStage,DHub
Parent,DStage,DHub
Parent,DObjective,DHub
Parent,DStateDevice,DHub
Parent,DLightPath,DHub
Parent,DShutter,DHub

# Initialize
Property,Core,Initialize,1

# Roles
Property,Core,Camera,DCam
Property,Core,XYStage,DXYStage
Property,Core,Focus,DStage
Property,Core,Shutter,DShutter
Property,Core,AutoShutter,1

# Labels
Label,DObjective,0,1-UPLFLN4XPH
Label,DObjective,1,2-SOB
Label,DObjective,2,3-LUCPLFLN20XRC
Label,DObjective,3,6-UPLSAPO30XS
Label,DObjective,4,4-LUCPLFLN40X
Label,DObjective,5,5-LUCPLFLN60X
Label,DStateDevice,0,1-NONE
Label,DStateDevice,1,2-U-FUNA
Label,DStateDevice,2,3-U-FBNA
Label,DStateDevice,3,4-U-FGNA

# Demo defaults
Property,DCam,Mode,Fluorescent Beads
Property,DCam,BeadBrightness,1.0
Property,DXYStage,Velocity,100000.0
